<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->






<!-- !PAGE CONTENT! -->
<div>
    <!-- Header -->
    <header id="portfolio">

        <div class="w3-container " style="color: azure;">
            <h1><b>WATCHIT</b></h1>
            <nav>
                <div class="w3-section w3-bottombar w3-padding-16">

                    <button class="w3-button w3-black"><a style =" color: azure;" routerLink='/dashboard'>Dashboard</a></button>
                    <button class="w3-button w3-white"><a routerLink='/accion'>Acción</a></button>
                    <button class="w3-button w3-white"><a routerLink='/terror'>Terror</a></button>
                    <button class="w3-button w3-white"><a routerLink='/animacion'>Animación</a></button>
                    <button class="w3-button w3-white"><a routerLink='/equipo'>Acerca del Equipo</a></button>
                </div>
            </nav>
        </div>
    </header>

    <router-outlet></router-outlet>

    <div class="w3-black w3-center w3-padding-24">Powered by
        <a style="color: gray;" href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">turoriales w3.css, muchas gracias</a>
    </div>
</div>
<!-- End page content -->



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->